/* Copyright 2016 - Fontak.ir - All rights Are reserved for Fontak and Font Designer */

@font-face {
    font-family: 'BJalal';
    src: url('./regular/BJalal.eot');
    /* IE9 Compat Modes */
    src: url('./regular/BJalal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./regular/BJalal.woff2') format('woff2'), /* Modern Browsers */
    url('./regular/BJalal.woff') format('woff'), /* Modern Browsers */
    url('./regular/BJalal.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./regular/BJalal.svg') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
