<div class="preview background-white margin-xxlarge padding-xxlarge">
  <div class="row">
    <div class="small-12 medium-10 columns no-padding">
      <h4 class="float-right">{{font.title}}</h4>
      <select class="types margin-xxlarge-right font-small unvisible" style="width: 90px"
      ng-model="vm.fontStyle" ng-change="vm.changeFontStyle(font.name)"
      ng-options="type.title for type in font.types"></select>
    </div>
    <div class="small-12 medium-2 columns no-padding">
      <ul class="menu align-left unvisible">
        <li><a href="" ng-click="vm.addToFavorites(font.name+font.types[0].name)"><i class="fa fa-plus fa-fw"></i></a></li>
        <li><a href="" ng-click="vm.pin(font.name+font.types[0].name)"><i class="fa fa-thumb-tack fa-fw"></i></a></li>
      </ul>
    </div>
  </div>
  <div contenteditable="true" class="padding-xxlarge margin-xlarge-bottom">
    <p
    style="font-size: {{fontSize}}px;
    line-height: {{lineHeight}}px;">
      لورم ایپسوم متن ساختگی با تولید سادگی
      نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
      <abbr title="به طور مرتب منتشر می‌شود و شامل مقالات در موضوعی واحد یا در موضوعات مختلف باشد.">مجله</abbr>
       در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربرد های متنوع با هدف بهبود ابزار های کاربردی می باشد.
      <strong>کتاب های زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</strong>
       تا با نرم افزار ها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و
      <em>فرهنگ پیشرو</em>
      در زبان پارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکار ها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
      <del>حروفچینی دستاورد های اصلی و جوابگوی </del>
      سوالات پیوسته اهل دنیای موجود طراحی
      <u>اساسا مورد استفاده</u>
      قرار گیرد
      <br>
       123456789 ‍!٬٫٪×،*()-.ـ=+{}[]:;«»
    </p>
    <div class="details hide">
      <h1>نمونه عنوان h1</h1>
      <h2>نمونه عنوان h2</h2>
      <h3>نمونه عنوان h3</h3>
      <h4>نمونه عنوان h4</h4>
      <h5>نمونه عنوان h5</h5>
      <h6>نمونه عنوان h6</h6>
      <small> نمونه متن small </small>
    </div>
  </div>
  <div class="buttons text-left unvisible">
    <button class="button primary text-white">دانلود</button>
    <button class="button primary text-white" ng-click="vm.toggleDetails()">
      <span ng-if="!vm.moreDetailsEnabled">نمایش جزییات بیشتر</span>
      <span ng-if="vm.moreDetailsEnabled">عدم نمایش جزییات بیشتر</span>
    </button>
  </div>
</div>
