.text-primary {
  color: #03a2ac !important; }

.background-primary {
  background-color: #03a2ac !important; }

.link-primary a {
  color: #03a2ac; }
  .link-primary a:hover, .link-primary a:focus, .link-primary a:active {
    color: #014448; }

.text-secondary {
  color: #474747 !important; }

.background-secondary {
  background-color: #474747 !important; }

.link-secondary a {
  color: #474747; }
  .link-secondary a:hover, .link-secondary a:focus, .link-secondary a:active {
    color: #141414; }

.text-success {
  color: #3adb76 !important; }

.background-success {
  background-color: #3adb76 !important; }

.link-success a {
  color: #3adb76; }
  .link-success a:hover, .link-success a:focus, .link-success a:active {
    color: #1b9448; }

.text-warning {
  color: #ffae00 !important; }

.background-warning {
  background-color: #ffae00 !important; }

.link-warning a {
  color: #ffae00; }
  .link-warning a:hover, .link-warning a:focus, .link-warning a:active {
    color: #996800; }

.text-alert {
  color: #ec5840 !important; }

.background-alert {
  background-color: #ec5840 !important; }

.link-alert a {
  color: #ec5840; }
  .link-alert a:hover, .link-alert a:focus, .link-alert a:active {
    color: #b42912; }

.text-white {
  color: #ffffff !important; }

.background-white {
  background-color: #ffffff !important; }

.link-white a {
  color: #ffffff; }
  .link-white a:hover, .link-white a:focus, .link-white a:active {
    color: #cccccc; }

.text-black {
  color: #222222 !important; }

.background-black {
  background-color: #222222 !important; }

.link-black a {
  color: #222222; }
  .link-black a:hover, .link-black a:focus, .link-black a:active {
    color: black; }

.text-gray {
  color: #666666 !important; }

.background-gray {
  background-color: #666666 !important; }

.link-gray a {
  color: #666666; }
  .link-gray a:hover, .link-gray a:focus, .link-gray a:active {
    color: #333333; }

.font-small {
  font-size: 12px; }

.padding-small {
  padding: 3px; }

.padding-small-top {
  padding-top: 3px !important; }

.padding-small-right {
  padding-right: 3px !important; }

.padding-small-bottom {
  padding-bottom: 3px !important; }

.padding-small-left {
  padding-left: 3px !important; }

.margin-small {
  margin: 3px; }

.margin-small-top {
  margin-top: 3px !important; }

.margin-small-right {
  margin-right: 3px !important; }

.margin-small-bottom {
  margin-bottom: 3px !important; }

.margin-small-left {
  margin-left: 3px !important; }

.font-medium {
  font-size: 24px; }

.padding-medium {
  padding: 6px; }

.padding-medium-top {
  padding-top: 6px !important; }

.padding-medium-right {
  padding-right: 6px !important; }

.padding-medium-bottom {
  padding-bottom: 6px !important; }

.padding-medium-left {
  padding-left: 6px !important; }

.margin-medium {
  margin: 6px; }

.margin-medium-top {
  margin-top: 6px !important; }

.margin-medium-right {
  margin-right: 6px !important; }

.margin-medium-bottom {
  margin-bottom: 6px !important; }

.margin-medium-left {
  margin-left: 6px !important; }

.font-large {
  font-size: 36px; }

.padding-large {
  padding: 9px; }

.padding-large-top {
  padding-top: 9px !important; }

.padding-large-right {
  padding-right: 9px !important; }

.padding-large-bottom {
  padding-bottom: 9px !important; }

.padding-large-left {
  padding-left: 9px !important; }

.margin-large {
  margin: 9px; }

.margin-large-top {
  margin-top: 9px !important; }

.margin-large-right {
  margin-right: 9px !important; }

.margin-large-bottom {
  margin-bottom: 9px !important; }

.margin-large-left {
  margin-left: 9px !important; }

.font-xlarge {
  font-size: 48px; }

.padding-xlarge {
  padding: 12px; }

.padding-xlarge-top {
  padding-top: 12px !important; }

.padding-xlarge-right {
  padding-right: 12px !important; }

.padding-xlarge-bottom {
  padding-bottom: 12px !important; }

.padding-xlarge-left {
  padding-left: 12px !important; }

.margin-xlarge {
  margin: 12px; }

.margin-xlarge-top {
  margin-top: 12px !important; }

.margin-xlarge-right {
  margin-right: 12px !important; }

.margin-xlarge-bottom {
  margin-bottom: 12px !important; }

.margin-xlarge-left {
  margin-left: 12px !important; }

.font-xxlarge {
  font-size: 60px; }

.padding-xxlarge {
  padding: 15px; }

.padding-xxlarge-top {
  padding-top: 15px !important; }

.padding-xxlarge-right {
  padding-right: 15px !important; }

.padding-xxlarge-bottom {
  padding-bottom: 15px !important; }

.padding-xxlarge-left {
  padding-left: 15px !important; }

.margin-xxlarge {
  margin: 15px; }

.margin-xxlarge-top {
  margin-top: 15px !important; }

.margin-xxlarge-right {
  margin-right: 15px !important; }

.margin-xxlarge-bottom {
  margin-bottom: 15px !important; }

.margin-xxlarge-left {
  margin-left: 15px !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-border {
  border: 0 none !important; }

.no-border-radius {
  border-radius: 0 !important; }

.list-style-type-none {
  list-style-type: none !important; }

.full-width {
  width: 100%; }

.display-inline {
  display: inline; }

.force-en {
  font-family: "firamonomedium", sans-serif !important; }

.valign-top {
  vertical-align: top; }

.valign-middle {
  vertical-align: middle; }

.valign-bottom {
  vertical-align: bottom; }

.dir-ltr {
  direction: ltr; }

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 10px 0px;
  width: 100%; }
  .range::-webkit-slider-thumb {
    border-color: #03a2ac; }

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #03a2ac;
  height: 2px; }

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: #03a2ac;
  height: 2px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  max-width: 80px;
  position: relative;
  bottom: 7.5px;
  background-color: #02737a;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease; }
  input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing; }

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  max-width: 80px;
  position: relative;
  bottom: 7.5px;
  background-color: #02737a;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease; }
  input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing; }

input[type=range]:focus {
  outline: none; }

@font-face {
  font-family: "shabnambold";
  src: url("/static/fonts/shabnam/bold/shabnam.eot");
  src: url("/static/fonts/shabnam/bold/shabnam.eot?") format("eot"), url("/static/fonts/shabnam/bold/shabnam.woff2") format("woff2"), url("/static/fonts/shabnam/bold/shabnam.woff") format("woff"), url("/static/fonts/shabnam/bold/shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stratch: normal; }
@font-face {
  font-family: "shabnamnormal";
  src: url("/static/fonts/shabnam/normal/shabnam.eot");
  src: url("/static/fonts/shabnam/normal/shabnam.eot?") format("eot"), url("/static/fonts/shabnam/normal/shabnam.woff2") format("woff2"), url("/static/fonts/shabnam/normal/shabnam.woff") format("woff"), url("/static/fonts/shabnam/normal/shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stratch: normal; }
@font-face {
  font-family: "badrregular";
  src: url("/static/fonts-pack/badr/regular/badr.eot");
  src: url("/static/fonts-pack/badr/regular/badr.eot?") format("eot"), url("/static/fonts-pack/badr/regular/badr.woff2") format("woff2"), url("/static/fonts-pack/badr/regular/badr.woff") format("woff"), url("/static/fonts-pack/badr/regular/badr.ttf") format("truetype"); }
#badrregular h1, #badrregular h2, #badrregular h3, #badrregular h4, #badrregular h5, #badrregular h6, #badrregular p, #badrregular select, #badrregular option, #badrregular small, #badrregular abbr, #badrregular em, #badrregular strong, #badrregular del, #badrregular u {
  font-family: "badrregular"; }

@font-face {
  font-family: "baranregular";
  src: url("/static/fonts-pack/baran/regular/baran.eot");
  src: url("/static/fonts-pack/baran/regular/baran.eot?") format("eot"), url("/static/fonts-pack/baran/regular/baran.woff2") format("woff2"), url("/static/fonts-pack/baran/regular/baran.woff") format("woff"), url("/static/fonts-pack/baran/regular/baran.ttf") format("truetype"); }
#baranregular h1, #baranregular h2, #baranregular h3, #baranregular h4, #baranregular h5, #baranregular h6, #baranregular p, #baranregular select, #baranregular option, #baranregular small, #baranregular abbr, #baranregular em, #baranregular strong, #baranregular del, #baranregular u {
  font-family: "baranregular"; }

@font-face {
  font-family: "bardiyaregular";
  src: url("/static/fonts-pack/bardiya/regular/bardiya.eot");
  src: url("/static/fonts-pack/bardiya/regular/bardiya.eot?") format("eot"), url("/static/fonts-pack/bardiya/regular/bardiya.woff2") format("woff2"), url("/static/fonts-pack/bardiya/regular/bardiya.woff") format("woff"), url("/static/fonts-pack/bardiya/regular/bardiya.ttf") format("truetype"); }
#bardiyaregular h1, #bardiyaregular h2, #bardiyaregular h3, #bardiyaregular h4, #bardiyaregular h5, #bardiyaregular h6, #bardiyaregular p, #bardiyaregular select, #bardiyaregular option, #bardiyaregular small, #bardiyaregular abbr, #bardiyaregular em, #bardiyaregular strong, #bardiyaregular del, #bardiyaregular u {
  font-family: "bardiyaregular"; }

@font-face {
  font-family: "davatregular";
  src: url("/static/fonts-pack/davat/regular/davat.eot");
  src: url("/static/fonts-pack/davat/regular/davat.eot?") format("eot"), url("/static/fonts-pack/davat/regular/davat.woff2") format("woff2"), url("/static/fonts-pack/davat/regular/davat.woff") format("woff"), url("/static/fonts-pack/davat/regular/davat.ttf") format("truetype"); }
#davatregular h1, #davatregular h2, #davatregular h3, #davatregular h4, #davatregular h5, #davatregular h6, #davatregular p, #davatregular select, #davatregular option, #davatregular small, #davatregular abbr, #davatregular em, #davatregular strong, #davatregular del, #davatregular u {
  font-family: "davatregular"; }

@font-face {
  font-family: "elhamregular";
  src: url("/static/fonts-pack/elham/regular/elham.eot");
  src: url("/static/fonts-pack/elham/regular/elham.eot?") format("eot"), url("/static/fonts-pack/elham/regular/elham.woff2") format("woff2"), url("/static/fonts-pack/elham/regular/elham.woff") format("woff"), url("/static/fonts-pack/elham/regular/elham.ttf") format("truetype"); }
#elhamregular h1, #elhamregular h2, #elhamregular h3, #elhamregular h4, #elhamregular h5, #elhamregular h6, #elhamregular p, #elhamregular select, #elhamregular option, #elhamregular small, #elhamregular abbr, #elhamregular em, #elhamregular strong, #elhamregular del, #elhamregular u {
  font-family: "elhamregular"; }

@font-face {
  font-family: "esfahanregular";
  src: url("/static/fonts-pack/esfahan/regular/esfahan.eot");
  src: url("/static/fonts-pack/esfahan/regular/esfahan.eot?") format("eot"), url("/static/fonts-pack/esfahan/regular/esfahan.woff2") format("woff2"), url("/static/fonts-pack/esfahan/regular/esfahan.woff") format("woff"), url("/static/fonts-pack/esfahan/regular/esfahan.ttf") format("truetype"); }
#esfahanregular h1, #esfahanregular h2, #esfahanregular h3, #esfahanregular h4, #esfahanregular h5, #esfahanregular h6, #esfahanregular p, #esfahanregular select, #esfahanregular option, #esfahanregular small, #esfahanregular abbr, #esfahanregular em, #esfahanregular strong, #esfahanregular del, #esfahanregular u {
  font-family: "esfahanregular"; }

h1, h2, h3 {
  font-family: "shabnambold", Tahoma, Arial, sans-serif; }

h4, h5, h6, th {
  font-family: "shabnamnormal", Tahoma, Arial, sans-serif; }

p, label, input, button, small, a, li, legend, td, span, strong, div, pre {
  font-family: "shabnamnormal", Tahoma, Arial, sans-serif; }

body.light {
  background-color: #f8f8f8; }
  body.light .topbar-logo {
    background: linear-gradient(90deg, #00acb7 0%, #00ffc9 100%);
    padding: 15px; }
  body.light .preview {
    transition: all 0.5s ease; }
    body.light .preview .unvisible {
      visibility: hidden; }
    body.light .preview:hover {
      box-shadow: 0px 0px 5px 1px #03a2ac;
      transition: all 0.5s ease; }
      body.light .preview:hover .unvisible {
        visibility: visible; }

div[contenteditable='true'] {
  border-radius: 5px;
  transition: all 0.5s ease-in-out; }
  div[contenteditable='true']:hover {
    background: #f2f2f2;
    transition: all 0.5s ease-in-out; }
  div[contenteditable='true']:focus {
    background: #f2f2f2;
    outline: none;
    box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out; }

/*# sourceMappingURL=styles.css.map */
