.text-primary {
  color: #03a2ac !important; }

.background-primary {
  background-color: #03a2ac !important; }

.link-primary a {
  color: #03a2ac; }
  .link-primary a:hover, .link-primary a:focus, .link-primary a:active {
    color: #014448; }

.text-secondary {
  color: #474747 !important; }

.background-secondary {
  background-color: #474747 !important; }

.link-secondary a {
  color: #474747; }
  .link-secondary a:hover, .link-secondary a:focus, .link-secondary a:active {
    color: #141414; }

.text-success {
  color: #3adb76 !important; }

.background-success {
  background-color: #3adb76 !important; }

.link-success a {
  color: #3adb76; }
  .link-success a:hover, .link-success a:focus, .link-success a:active {
    color: #1b9448; }

.text-warning {
  color: #ffae00 !important; }

.background-warning {
  background-color: #ffae00 !important; }

.link-warning a {
  color: #ffae00; }
  .link-warning a:hover, .link-warning a:focus, .link-warning a:active {
    color: #996800; }

.text-alert {
  color: #ec5840 !important; }

.background-alert {
  background-color: #ec5840 !important; }

.link-alert a {
  color: #ec5840; }
  .link-alert a:hover, .link-alert a:focus, .link-alert a:active {
    color: #b42912; }

.text-white {
  color: #ffffff !important; }

.background-white {
  background-color: #ffffff !important; }

.link-white a {
  color: #ffffff; }
  .link-white a:hover, .link-white a:focus, .link-white a:active {
    color: #cccccc; }

.text-black {
  color: #222222 !important; }

.background-black {
  background-color: #222222 !important; }

.link-black a {
  color: #222222; }
  .link-black a:hover, .link-black a:focus, .link-black a:active {
    color: black; }

.text-gray {
  color: #666666 !important; }

.background-gray {
  background-color: #666666 !important; }

.link-gray a {
  color: #666666; }
  .link-gray a:hover, .link-gray a:focus, .link-gray a:active {
    color: #333333; }

.font-small {
  font-size: 12px; }

.padding-small {
  padding: 3px; }

.padding-small-top {
  padding-top: 3px !important; }

.padding-small-right {
  padding-right: 3px !important; }

.padding-small-bottom {
  padding-bottom: 3px !important; }

.padding-small-left {
  padding-left: 3px !important; }

.margin-small {
  margin: 3px; }

.margin-small-top {
  margin-top: 3px !important; }

.margin-small-right {
  margin-right: 3px !important; }

.margin-small-bottom {
  margin-bottom: 3px !important; }

.margin-small-left {
  margin-left: 3px !important; }

.font-medium {
  font-size: 24px; }

.padding-medium {
  padding: 6px; }

.padding-medium-top {
  padding-top: 6px !important; }

.padding-medium-right {
  padding-right: 6px !important; }

.padding-medium-bottom {
  padding-bottom: 6px !important; }

.padding-medium-left {
  padding-left: 6px !important; }

.margin-medium {
  margin: 6px; }

.margin-medium-top {
  margin-top: 6px !important; }

.margin-medium-right {
  margin-right: 6px !important; }

.margin-medium-bottom {
  margin-bottom: 6px !important; }

.margin-medium-left {
  margin-left: 6px !important; }

.font-large {
  font-size: 36px; }

.padding-large {
  padding: 9px; }

.padding-large-top {
  padding-top: 9px !important; }

.padding-large-right {
  padding-right: 9px !important; }

.padding-large-bottom {
  padding-bottom: 9px !important; }

.padding-large-left {
  padding-left: 9px !important; }

.margin-large {
  margin: 9px; }

.margin-large-top {
  margin-top: 9px !important; }

.margin-large-right {
  margin-right: 9px !important; }

.margin-large-bottom {
  margin-bottom: 9px !important; }

.margin-large-left {
  margin-left: 9px !important; }

.font-xlarge {
  font-size: 48px; }

.padding-xlarge {
  padding: 12px; }

.padding-xlarge-top {
  padding-top: 12px !important; }

.padding-xlarge-right {
  padding-right: 12px !important; }

.padding-xlarge-bottom {
  padding-bottom: 12px !important; }

.padding-xlarge-left {
  padding-left: 12px !important; }

.margin-xlarge {
  margin: 12px; }

.margin-xlarge-top {
  margin-top: 12px !important; }

.margin-xlarge-right {
  margin-right: 12px !important; }

.margin-xlarge-bottom {
  margin-bottom: 12px !important; }

.margin-xlarge-left {
  margin-left: 12px !important; }

.font-xxlarge {
  font-size: 60px; }

.padding-xxlarge {
  padding: 15px; }

.padding-xxlarge-top {
  padding-top: 15px !important; }

.padding-xxlarge-right {
  padding-right: 15px !important; }

.padding-xxlarge-bottom {
  padding-bottom: 15px !important; }

.padding-xxlarge-left {
  padding-left: 15px !important; }

.margin-xxlarge {
  margin: 15px; }

.margin-xxlarge-top {
  margin-top: 15px !important; }

.margin-xxlarge-right {
  margin-right: 15px !important; }

.margin-xxlarge-bottom {
  margin-bottom: 15px !important; }

.margin-xxlarge-left {
  margin-left: 15px !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-border {
  border: 0 none !important; }

.no-border-radius {
  border-radius: 0 !important; }

.list-style-type-none {
  list-style-type: none !important; }

.full-width {
  width: 100%; }

.display-inline {
  display: inline; }

.force-en {
  font-family: "firamonomedium", sans-serif !important; }

.valign-top {
  vertical-align: top; }

.valign-middle {
  vertical-align: middle; }

.valign-bottom {
  vertical-align: bottom; }

.dir-ltr {
  direction: ltr; }

@font-face {
  font-family: "shabnambold";
  src: url("/static/fonts/shabnam/bold/shabnam.eot");
  src: url("/static/fonts/shabnam/bold/shabnam.eot?") format("eot"), url("/static/fonts/shabnam/bold/shabnam.woff2") format("woff2"), url("/static/fonts/shabnam/bold/shabnam.woff") format("woff"), url("/static/fonts/shabnam/bold/shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stratch: normal; }
@font-face {
  font-family: "shabnamnormal";
  src: url("/static/fonts/shabnam/normal/shabnam.eot");
  src: url("/static/fonts/shabnam/normal/shabnam.eot?") format("eot"), url("/static/fonts/shabnam/normal/shabnam.woff2") format("woff2"), url("/static/fonts/shabnam/normal/shabnam.woff") format("woff"), url("/static/fonts/shabnam/normal/shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stratch: normal; }
@font-face {
  font-family: "iransansbold";
  src: url("/static/fonts-pack/iransans/bold/iransans.eot");
  src: url("/static/fonts-pack/iransans/bold/iransans.eot?") format("eot"), url("/static/fonts-pack/iransans/bold/iransans.woff2") format("woff2"), url("/static/fonts-pack/iransans/bold/iransans.woff") format("woff"), url("/static/fonts-pack/iransans/bold/iransans.ttf") format("truetype"); }
#iransansbold h1, #iransansbold h2, #iransansbold h3, #iransansbold h4, #iransansbold h5, #iransansbold h6, #iransansbold p, #iransansbold select, #iransansbold option {
  font-family: "iransansbold"; }

@font-face {
  font-family: "iransansmedium";
  src: url("/static/fonts-pack/iransans/medium/iransans.eot");
  src: url("/static/fonts-pack/iransans/medium/iransans.eot?") format("eot"), url("/static/fonts-pack/iransans/medium/iransans.woff2") format("woff2"), url("/static/fonts-pack/iransans/medium/iransans.woff") format("woff"), url("/static/fonts-pack/iransans/medium/iransans.ttf") format("truetype"); }
#iransansmedium h1, #iransansmedium h2, #iransansmedium h3, #iransansmedium h4, #iransansmedium h5, #iransansmedium h6, #iransansmedium p, #iransansmedium select, #iransansmedium option {
  font-family: "iransansmedium"; }

@font-face {
  font-family: "iransanslight";
  src: url("/static/fonts-pack/iransans/light/iransans.eot");
  src: url("/static/fonts-pack/iransans/light/iransans.eot?") format("eot"), url("/static/fonts-pack/iransans/light/iransans.woff2") format("woff2"), url("/static/fonts-pack/iransans/light/iransans.woff") format("woff"), url("/static/fonts-pack/iransans/light/iransans.ttf") format("truetype"); }
#iransanslight h1, #iransanslight h2, #iransanslight h3, #iransanslight h4, #iransanslight h5, #iransanslight h6, #iransanslight p, #iransanslight select, #iransanslight option {
  font-family: "iransanslight"; }

@font-face {
  font-family: "samimbold";
  src: url("/static/fonts-pack/samim/bold/samim.eot");
  src: url("/static/fonts-pack/samim/bold/samim.eot?") format("eot"), url("/static/fonts-pack/samim/bold/samim.woff2") format("woff2"), url("/static/fonts-pack/samim/bold/samim.woff") format("woff"), url("/static/fonts-pack/samim/bold/samim.ttf") format("truetype"); }
#samimbold h1, #samimbold h2, #samimbold h3, #samimbold h4, #samimbold h5, #samimbold h6, #samimbold p, #samimbold select, #samimbold option {
  font-family: "samimbold"; }

@font-face {
  font-family: "samimnormal";
  src: url("/static/fonts-pack/samim/normal/samim.eot");
  src: url("/static/fonts-pack/samim/normal/samim.eot?") format("eot"), url("/static/fonts-pack/samim/normal/samim.woff2") format("woff2"), url("/static/fonts-pack/samim/normal/samim.woff") format("woff"), url("/static/fonts-pack/samim/normal/samim.ttf") format("truetype"); }
#samimnormal h1, #samimnormal h2, #samimnormal h3, #samimnormal h4, #samimnormal h5, #samimnormal h6, #samimnormal p, #samimnormal select, #samimnormal option {
  font-family: "samimnormal"; }

@font-face {
  font-family: "vazirbold";
  src: url("/static/fonts-pack/vazir/bold/vazir.eot");
  src: url("/static/fonts-pack/vazir/bold/vazir.eot?") format("eot"), url("/static/fonts-pack/vazir/bold/vazir.woff2") format("woff2"), url("/static/fonts-pack/vazir/bold/vazir.woff") format("woff"), url("/static/fonts-pack/vazir/bold/vazir.ttf") format("truetype"); }
#vazirbold h1, #vazirbold h2, #vazirbold h3, #vazirbold h4, #vazirbold h5, #vazirbold h6, #vazirbold p, #vazirbold select, #vazirbold option {
  font-family: "vazirbold"; }

@font-face {
  font-family: "vazirnormal";
  src: url("/static/fonts-pack/vazir/normal/vazir.eot");
  src: url("/static/fonts-pack/vazir/normal/vazir.eot?") format("eot"), url("/static/fonts-pack/vazir/normal/vazir.woff2") format("woff2"), url("/static/fonts-pack/vazir/normal/vazir.woff") format("woff"), url("/static/fonts-pack/vazir/normal/vazir.ttf") format("truetype"); }
#vazirnormal h1, #vazirnormal h2, #vazirnormal h3, #vazirnormal h4, #vazirnormal h5, #vazirnormal h6, #vazirnormal p, #vazirnormal select, #vazirnormal option {
  font-family: "vazirnormal"; }

h1, h2, h3 {
  font-family: "shabnambold", Tahoma, Arial, sans-serif; }

h4, h5, h6, th {
  font-family: "shabnamnormal", Tahoma, Arial, sans-serif; }

p, label, input, button, small, a, li, legend, td, span, strong, div, pre {
  font-family: "shabnamnormal", Tahoma, Arial, sans-serif; }

body.light {
  background-color: #f8f8f8; }
  body.light .preview .unvisible {
    visibility: hidden; }
  body.light .preview:hover {
    box-shadow: 0px 0px 5px 1px #03a2ac; }
    body.light .preview:hover .unvisible {
      visibility: visible; }

/*# sourceMappingURL=styles.css.map */
