/* Copyright 2016 - Fontak.ir - All rights Are reserved for Fontak and Font Designer */

@font-face {
    font-family: 'BSetarehBold';
    src: url('./bold/BSetarehBold.eot');
    /* IE9 Compat Modes */
    src: url('./bold/BSetarehBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./bold/BSetarehBold.woff2') format('woff2'), /* Modern Browsers */
    url('./bold/BSetarehBold.woff') format('woff'), /* Modern Browsers */
    url('./bold/BSetarehBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./bold/BSetarehBold.svg') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
