/* Copyright 2016 - Fontak.ir - All rights Are reserved for Fontak and Font Designer */

@font-face {
    font-family: 'BHelal';
    src: url('./regular/BHelal.eot');
    /* IE9 Compat Modes */
    src: url('./regular/BHelal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./regular/BHelal.woff2') format('woff2'), /* Modern Browsers */
    url('./regular/BHelal.woff') format('woff'), /* Modern Browsers */
    url('./regular/BHelal.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./regular/BHelal.svg') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
