/* Copyright 2016 - Fontak.ir - All rights Are reserved for Fontak and Font Designer */

@font-face {
    font-family: 'BMorvarid';
    src: url('./regular/BMorvarid.eot');
    /* IE9 Compat Modes */
    src: url('./regular/BMorvarid.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./regular/BMorvarid.woff2') format('woff2'), /* Modern Browsers */
    url('./regular/BMorvarid.woff') format('woff'), /* Modern Browsers */
    url('./regular/BMorvarid.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./regular/BMorvarid.svg') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
