.row.expanded.background-white
  .small-12.medium-10.columns
    input(type="text", class="show-for-medium", placeholder="چند حرف از اسم فونتی که دنبالش می گردین رو بنویسین",
    style="padding: 0; margin: 0; padding: 15px 15px 0 0; border: none; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;",ng-model="vm.searchQuery")
    input(type="text", class="show-for-small-only", placeholder="جستجوی فونت",
    style="padding: 0; margin: 0; padding: 15px 15px 0 0; border: none; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;",ng-model="vm.searchQuery")
  .small-12.medium-2.columns
    .text-left(style="padding: 15px")
      ul.menu.align-left
        li
          a(href="http://twitter.com/neacodin")
            i.fa.fa-twitter.fa-fw
        li
          a(href="mailto: hi@neacod.in")
            i.fa.fa-envelope.fa-fw
        li
          a(href="http://github.com/neacodin/fontchi")
            i.fa.fa-github.fa-fw
        li
          a(href="http://github.com/neacodin/fontchi/fork")
            i.fa.fa-code-fork.fa-fw