.row.expanded.background-white
  .small-12.medium-10.columns
    input(type="text", class="show-for-medium", placeholder="چند حرف از اسم فونتی که دنبالش می گردین رو بنویسین",
    style="padding: 0; margin: 0; padding: 15px 15px 0 0; border: none; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;",ng-model="vm.searchQuery")
    input(type="text", class="show-for-small-only", placeholder="جستجوی فونت",
    style="padding: 0; margin: 0; padding: 15px 15px 0 0; border: none; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;",ng-model="vm.searchQuery")
  .small-12.medium-2.columns
    .text-left(style="padding: 15px")
      ul.menu.align-left
        li
          a(href="#")
            i.fa.fa-paper-plane.fa-fw
        li
          a(href="#")
            i.fa.fa-twitter.fa-fw
        li
          a(href="#")
            i.fa.fa-google-plus.fa-fw
        li
          a(href="#")
            i.fa.fa-facebook.fa-fw
