.row.expanded.background-white
  .small-12.medium-2.columns
    div.text-center.topbar-logo
      h5(style="padding: 0; margin: 0; color: #fff") &lt;فارسی/&gt;
  .small-12.medium-8.columns
    input(type="text", placeholder="یه چی بنویس اینجا!",
    style="padding: 0; margin: 0; padding: 15px 15px 0 0; border: none; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;",ng-model="vm.searchQuery")
  .small-12.medium-2.columns
    .text-left(style="padding: 15px")
      ul.menu.align-left
        li
          a(href="#")
            i.fa.fa-paper-plane.fa-fw
        li
          a(href="#")
            i.fa.fa-twitter.fa-fw
        li
          a(href="#")
            i.fa.fa-google-plus.fa-fw
        li
          a(href="#")
            i.fa.fa-facebook.fa-fw
