html(lang="fa", dir="rtl")
  head
    title فونت چی |‌ انتخاب فونت مناسب

    link(rel="stylesheet", href="/static/stylesheets/fontawesome.css")
    link(rel="stylesheet", href="/static/stylesheets/foundation.css")
    link(rel="stylesheet", href="/static/stylesheets/styles.css")

    //- Meta Tags
    meta(name="keywords", content="فونت فارسی,فونت چی,دانلود فونت فارسی,دریافت فونت فارسی,دانلود فونت,فونت یکان استاندارد,فونت استاندارد,فونت رایگان,دانلود رایگان فونت,دریافت رایگان فونت,مجموعه فونت فارسی,مجموعه فونت فونت چی,خرید فونت,سری فونت بی,فونت های ام جی, فونت های آزاد,فونت فارسی آزاد,فونت فارسی زیبا")
    meta(name="description", content="مرجع فونت های استاندارد فارسی برای وب و کامپیوتر")
    meta(name="generator", content="Fontchi.ir - Neacodin")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Meta Tags - OGP.ME
    meta(property="og:title", content="بهترین فونت های فارسی! یه جا")
    meta(property="og:url", content="http://www.fontchi.ir/")
    meta(property="og:type", content="website")
    meta(property="og:description", content="کلی فونت فارسی برای استفاده تو وب و کامپیوتر")
    meta(property="og:image", content="http://www.fontchi.ir/static/favicons/apple-touch-icon-152x152.png")

    //- Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/static/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/static/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/static/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/static/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/static/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/static/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/static/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/static/favicons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/static/favicons/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/static/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/static/favicons/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/static/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/static/favicons/manifest.json')
    link(rel='mask-icon', href='/static/favicons/safari-pinned-tab.svg', color='#03a2ac')
    link(rel='shortcut icon', href='/static/favicons/favicon.ico')
    meta(name='apple-mobile-web-app-title', content='Fontchi')
    meta(name='application-name', content='Fontchi')
    meta(name='msapplication-TileColor', content='#b91d47')
    meta(name='msapplication-TileImage', content='/static/favicons/mstile-144x144.png')
    meta(name='msapplication-config', content='/static/favicons/browserconfig.xml')
    meta(name='theme-color', content='#03a2ac')


  body.light(ng-app="application", ng-controller="ApplicationController as vm")
    #container.row.expanded
      #sidebar.small-12.medium-2.columns(data-sticky-container,data-sticky-on="medium")
        include ./_sidebar.pug
      #main.small-12.medium-10.columns
        include ./_topbar.pug
        p &nbsp;
        <div ui-view></div>


    script(type="text/javascript", src="/static/javascripts/jquery.min.js")
    script(type="text/javascript", src="/static/javascripts/angular.min.js")
    script(type="text/javascript", src="/static/javascripts/foundation.min.js")
    script(type="text/javascript", src="/static/javascripts/libs.js")
    script(type="text/javascript", src="/static/javascripts/application.js")

    script.
      $(document).foundation();
